*{
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    user-select: none;
    box-sizing: border-box;
}

.header{
    background: #def9d5;    
    padding-top: 40px;
    padding-left: 40px;
}

main{
    background: linear-gradient(#def9d5,#a3f189);
    height: 480px;
}

#divInputText{
    display: flex;
    justify-content: center;
}

#inputText{
    margin-top: 150px;
    margin-bottom: 10px;
    color: #034919;
    width: 200px;
    height: 45px;
    resize: none;
    font-family: 'Amatic SC';
    font-size: 30px;
    font-weight: 800;
    border-radius: 7px;
    border: 2px solid  #034919;
    text-align: center;
}

#nota{    
    display: flex;
    justify-content: center; 
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

#divButtons{
    display: flex;
    justify-content: center; 
    margin-top: 8px;   
}

#save{
    border: solid 1px;
    color: #034a15;
    background-color: #2cb164;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-family: "Amatic SC";
    font-size: 30px;
    font-weight: 800;
}

#save:hover{
    transform: scale(1.1);
    background-color: #56cc87;
}

#cancel{
    border: solid 1px;
    color: #034a15;
    background-color: #2cb164;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-family: "Amatic SC";
    font-size: 30px;
    font-weight: 800;
    margin-left: 30px;
}

#cancel:hover{
    transform: scale(1.1);
    background-color: #56cc87;
}

footer{   
    padding-top: 55px;
    padding-bottom: 10px; 
    height: 115px;
    background: #a3f189;
    text-align: center;
    font-size: 15px;
    color: black; 
}